#seeds-icon {
	background: url('../images/9seeds-logo.png') no-repeat;
	height: 32px;
	width: 32px;
	float: left;
	margin: 7px 5px 0 0;
}

.seeds-admin-left {
	width: 65%;
	min-width: 500px;
	float: left;
	margin-bottom: 10px;
	padding-top: 5px;
}

.seeds-admin-right {
	width: 30%;
	float: right;
}

.seeds-sidebar-box {
	border: solid 1px #DDD;
	background: #6D87D6;
	margin-bottom: 20px;
	padding: 10px 15px;
	-moz-border-radius: 20px 0 20px 0;
	border-radius: 20px 0 20px 0;
}

.seeds-sidebar-box-2 {
	border: solid 1px #DDD;
	background: #36BBCE;
	margin-bottom: 20px;
	padding: 10px 15px;
	-moz-border-radius: 20px 0 20px 0;
	border-radius: 20px 0 20px 0;
}

.seeds-sidebar-box a, .seeds-sidebar-box-2 a{
	color: #FFF;
}
#mc-embedded-subscribe {
	margin-top: 5px;
}

.report-left {
	padding: 10px;
	float: left;
	width: 45%;
	border: solid 1px #CCC;
	background: #EEE;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.report-right {
	padding: 10px;
	float: right;
	width: 45%;
	border: solid 1px #CCC;
	background: #EEE;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.report-clear {
	float: left;
	width: 100%;
	height: 10px;
}
.wpet-delete a {
	text-indent: -9999px;
	overflow: hidden;
	height: 10px;
	width: 10px;
	position: absolute;
    margin: 8px 0 0 0;
	background: url("../images/xit.gif") no-repeat scroll 0 0 transparent;
}

.wpet-delete a:hover {
	cursor: pointer;
	background: url("../images/xit.gif") no-repeat scroll -10px 0 transparent;
}

#add-ticket-option {
	cursor: pointer;
}